## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Bonthe,SL,77.22,clear sky,7.5264,-12.5050,Bonthe Holiday Village
1,7,New Norfolk,AU,77.67,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
2,11,Bintulu,MY,82.81,scattered clouds,3.1667,113.0333,900 Boutique INN
3,12,Rikitea,PF,77.68,overcast clouds,-23.1203,-134.9692,People ThankYou
4,13,Camocim,BR,76.15,few clouds,-2.9022,-40.8411,Ilha Praia Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Poum"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Poum"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Pouebo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Voh"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Noumea"]

In [29]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
95,380,Poum,NC,82.4,few clouds,-20.2333,164.0167,Gîte kajeon

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
#start = vacation_start 
#stop1 = vacation_stop1
#stop2 = vacation_stop2
#stop3 = vacation_stop3
#center=(38, -122), zoom_level = 7

roadtrip = gmaps.directions_layer(start, end,
                                      waypoints=[stop1, stop2, stop3], 
                                      travel_mode="WALKING")
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
start

(-20.2333, 164.0167)

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,380,Poum,NC,82.40,few clouds,-20.2333,164.0167,Gîte kajeon
1,237,Pouebo,NC,84.27,scattered clouds,-20.4000,164.5667,RIVÂT LODGE
2,244,Voh,NC,85.60,broken clouds,-20.9667,164.7000,Le gîte du Koniambo
3,64,Noumea,NC,82.99,light rain,-22.2763,166.4572,Hôtel Le Lagon

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))